*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.dis__flex{
    display: flex;
}

.header__contant{
    margin: 0 auto;
    max-width: 1250px;
    align-items: center;
    justify-content: space-between;
}

header nav * {
    display: flex;
    list-style-type: none;
    padding:15px;
}

header img  {
    padding:15px;
    width: 180px;
}

header #menu a{
    text-decoration: none;
    color:#5e605b;
    font-size: 15px;
    cursor: pointer;
}

header #menu a:hover{
    text-decoration: none;
    color:#5e605b;
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
    background-color: silver;
    border-radius: 5px;
    transition: .3s;
}

header #menu li{
    display: inline;
}

/* .bg__img{
    width: 100%;
} */


main{
    border-bottom: solid #6f7173 1px;
}

main .banner{
    background-image: url("./../image/backgroung-img.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

main .banner__wrapper{
    max-width: 1025px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 40px 0px;
}

main .banner__contan__img{
    width: 50%;
    max-width: 500px;
}

main .banner__contan__txt{
    color: white;
    flex-direction: column;
    justify-content: center;
    font-size: 42px;
    max-width: 525px;
}

main .banner__contan__txt h3{
    font-size: 30px;
}

main .banner__contan__txt p{
    font-size: 20px;
    margin-top: 20px;
}

main .banner__button__wrapper{
    margin-top: 30px;
}

main .banner__button__style{
    display: flex;
    padding: 5px 5px;
    background-color: #5094f2;
    border-radius: 3px;
    border:none;
    color: white;
    font-size: 22px;
    align-items: center;
}

main .banner__button__style:hover{
    box-shadow: #72a7f0 0 0px 20px -3px;
    transition: .5s;
}

main a img{
    margin: 10px;
}

main .services{
    margin-top: 58px;
}

main .services__wrapper{
    max-width: 1025px;
    display: flex;
    margin: 0 auto;
}

main .services__item{
    margin: 0px 60px;
    width: calc(100% / 3);
    text-align: center;
}

main .services__item div{
    display: flex;
    justify-content: center;
}

main .services__item__title{
    color:#5094f2;
    font-size: 20px;
    margin-top: 30px;
}

main .services__item__txt{
    color:#ccc;
    font-size: 11px;
}

main .shopping__cart{
    margin-top: 100px;
    margin-bottom: 50px;
}

main .shopping__cart__wrapper{
    max-width: 1025px;
    margin: 0 auto;
}

main .shopping__cart__item{
    display: flex;
}

main .shopping__cart__item1{
    width:50%;
}

main .shopping__cart__item2{
    width:50%;
}

main .shopping__cart__item__title1{
    color: #5e605b;
    font-size: 42px;
    margin-bottom: 35px;
}

main .shopping__cart__item__title2{
    color: #6f7173;
    font-size: 26px;
    margin: 50px 0px 10px;
}

main .shopping__cart p{
    font-size: 15px;
    margin-top: 15px;
}

footer{
    padding:35px 0px;
}

footer .footer__txt{
    font-size: 15px;
    justify-content: center;
    color: rgb(134, 131, 131);
}



